formationdatafactory-AB/PartialArmTemplates/ArmTemplate_3_22_2021_16_10_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "formationdatafactory-AB"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\DataAzure",
					"userId": "BETD\\abererd",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime-AB",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://formationalexis.dfs.core.windows.net/",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data1.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "dateRep",
						"type": "String"
					},
					{
						"name": "day",
						"type": "String"
					},
					{
						"name": "month",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "cases",
						"type": "String"
					},
					{
						"name": "deaths",
						"type": "String"
					},
					{
						"name": "countriesAndTerritories",
						"type": "String"
					},
					{
						"name": "geoId",
						"type": "String"
					},
					{
						"name": "countryterritoryCode",
						"type": "String"
					},
					{
						"name": "popData2019",
						"type": "String"
					},
					{
						"name": "continentExp",
						"type": "String"
					},
					{
						"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data2.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "YearWeekISO",
						"type": "String"
					},
					{
						"name": "FirstDose",
						"type": "String"
					},
					{
						"name": "FirstDoseRefused",
						"type": "String"
					},
					{
						"name": "SecondDose",
						"type": "String"
					},
					{
						"name": "UnknownDose",
						"type": "String"
					},
					{
						"name": "NumberDosesReceived",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Population",
						"type": "String"
					},
					{
						"name": "ReportingCountry",
						"type": "String"
					},
					{
						"name": "TargetGroup",
						"type": "String"
					},
					{
						"name": "Vaccine",
						"type": "String"
					},
					{
						"name": "Denominator",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data3.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data4.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "level",
						"type": "String"
					},
					{
						"name": "region",
						"type": "String"
					},
					{
						"name": "region_name",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "tests_done",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "testing_rate",
						"type": "String"
					},
					{
						"name": "positivity_rate",
						"type": "String"
					},
					{
						"name": "testing_data_source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data5.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Response_measure",
						"type": "String"
					},
					{
						"name": "date_start",
						"type": "String"
					},
					{
						"name": "date_end",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "data6.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/donnees_primaires')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_1",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_1",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_2",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_2",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_3",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_3",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_4",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_4",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_5",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_5",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_6",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_6",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_1')]",
				"[concat(variables('factoryId'), '/datasets/tar_1')]",
				"[concat(variables('factoryId'), '/datasets/src_2')]",
				"[concat(variables('factoryId'), '/datasets/tar_2')]",
				"[concat(variables('factoryId'), '/datasets/src_3')]",
				"[concat(variables('factoryId'), '/datasets/tar_3')]",
				"[concat(variables('factoryId'), '/datasets/src_4')]",
				"[concat(variables('factoryId'), '/datasets/tar_4')]",
				"[concat(variables('factoryId'), '/datasets/src_5')]",
				"[concat(variables('factoryId'), '/datasets/tar_5')]",
				"[concat(variables('factoryId'), '/datasets/src_6')]",
				"[concat(variables('factoryId'), '/datasets/tar_6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_incidence')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "src_incidence.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "reg",
						"type": "String"
					},
					{
						"name": "jour",
						"type": "String"
					},
					{
						"name": "P_f",
						"type": "String"
					},
					{
						"name": "P_h",
						"type": "String"
					},
					{
						"name": "P",
						"type": "String"
					},
					{
						"name": "pop_f",
						"type": "String"
					},
					{
						"name": "pop_h",
						"type": "String"
					},
					{
						"name": "cl_age90",
						"type": "String"
					},
					{
						"name": "pop",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_indicateurs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "src_indicateurs.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "extract_date",
						"type": "String"
					},
					{
						"name": "tx_incid",
						"type": "String"
					},
					{
						"name": "R",
						"type": "String"
					},
					{
						"name": "taux_occupation_sae",
						"type": "String"
					},
					{
						"name": "tx_pos",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_prelevements')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "src_prelevements.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "id_ej",
						"type": "String"
					},
					{
						"name": "finess",
						"type": "String"
					},
					{
						"name": "rs",
						"type": "String"
					},
					{
						"name": "adresse",
						"type": "String"
					},
					{
						"name": "cpl_loc",
						"type": "String"
					},
					{
						"name": "do_prel",
						"type": "String"
					},
					{
						"name": "do_antigenic",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "mod_prel",
						"type": "String"
					},
					{
						"name": "public",
						"type": "String"
					},
					{
						"name": "horaire",
						"type": "String"
					},
					{
						"name": "horaire_prio",
						"type": "String"
					},
					{
						"name": "check_rdv",
						"type": "String"
					},
					{
						"name": "tel_rdv",
						"type": "String"
					},
					{
						"name": "web_rdv",
						"type": "String"
					},
					{
						"name": "date_modif",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FileServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_incidence')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_indicateurs')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tar_prelevements')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "container1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/donnees_secondaires')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Incidence",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "reg",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reg",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "jour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "jour",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "P_f",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "P_f",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "P_h",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "P_h",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "P",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "P",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pop_f",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pop_f",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pop_h",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pop_h",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cl_age90",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cl_age90",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pop",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "pop",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_incidence",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_incidence",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Indicateurs",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Incidence",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "extract_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_incid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "R",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "taux_occupation_sae",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tx_pos",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_indicateurs",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_indicateurs",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Prelevements",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Indicateurs",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "src_prelevements",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tar_prelevements",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/src_incidence')]",
				"[concat(variables('factoryId'), '/datasets/tar_incidence')]",
				"[concat(variables('factoryId'), '/datasets/src_indicateurs')]",
				"[concat(variables('factoryId'), '/datasets/tar_indicateurs')]",
				"[concat(variables('factoryId'), '/datasets/src_prelevements')]",
				"[concat(variables('factoryId'), '/datasets/tar_prelevements')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_maitre')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "donnees_secondaires",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "donnees_primaires",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "donnees_secondaires",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "donnees_primaires",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "donnees_primaires",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/donnees_secondaires')]",
				"[concat(variables('factoryId'), '/pipelines/donnees_primaires')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_maitre",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2021-03-22T14:46:00",
						"endTime": "2021-03-22T16:46:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_maitre')]"
			]
		}
	]
}